# Choose your provider:
# openai | groq | openrouter
LLM_PROVIDER=groq

# API keys
#OPENAI_API_KEY=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
GROQ_API_KEY=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
MODEL_NAME=llama-3.3-70b-versatile
#OPENROUTER_API_KEY=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

# Optional model override
#MODEL_NAME=gpt-4.1-mini

# Optional override if you want a custom OpenAI-compatible endpoint
# CUSTOM_BASE_URL=PreetiStoryWeaverEndpoint
